<template name="User_Header">
  <div class="ui top fixed borderless inverted teal menu">
    <div class="ui container">
      <div class="item"><h1>BowFolios</h1></div>
      <a class="{{isActiveRoute "Profile_Page"}} item" href="{{pathFor "Profile_Page" username=routeUserName}}">Profile</a>
      <a class="{{isActiveRoute "Filter_Page"}} item" href="{{pathFor "Filter_Page" username=routeUserName}}">Filter</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>