<template name="Directory_Profile">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="/images/{{ picture }}">
      <div class="header">
        {{ name }}
      </div>
      <div class="meta">
        {{ title}}
      </div>
      <div class="description">
        {{ description }}
      </div>
    </div>
    <div class="extra content">
      <div class="ui equal width grid">
        <div class="column"><i class="big home icon"></i></div>
        <div class="column"><i class="big mail icon"></i></div>
        <div class="column"><i class="big facebook icon"></i></div>
        <div class="column"><i class="big github icon"></i></div>
      </div>
    </div>
  </div>

</template>